<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compose Email</title>
    <script src="https://cdn.tiny.cloud/1/zwugoy2ou4fphshzw5kd3qeg29q9xpup7crzeidnhumkuh1d/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
      tinymce.init({
        selector: '#emailBody'
      });
    </script>
  </head>
  <body>
    {% include "navbar.liquid" %}
    <article>
      <div class="grid">
        <div class="box">
          <form
            method="post"
            action="/email/preview/"
            class="single_box">
            <label for="path">File Path:
            </label>
            <input
              type="text"
              name="path"
              id="path">
            <textarea id="emailBody" name="emailBody">Hello, World!</textarea>
            <input type="submit" value="Create Documentation">
          </form>
        </div>
      </div>
    </article>
    {% include "footer.liquid" %}
  </body>
</html>