<div class="parent">
  <a href="#">About</a>
  <ul class="child">
    <li>
      <a href="/about/officers">Officers</a>
    </li>
    <li>
      <a href="http:/">System Information</a>
    </li>
  </ul>
</div>