<li class="parent navli">
  <a href="#">About</a>
  <ul class="child">
    <li class="navli">
      <a href="/about/officers">Officers</a>
    </li>
    <li class="navli">
      <a href="http:/">System Information</a>
    </li>
  </ul>
</li>