<li class="parent navli">
  <a href="#">About</a>
  <ul class="child">
    <li class="navli">
      <a href="/about/officers">Officers</a>
    </li>
    <li class="navli">
      <a href="/about/system/">System Information</a>
    </li>
  {% comment %} {% if isLoggedIn %}
          <li>
            <a href="/about/report">Report a Bug</a>
          </li>
      {% endif %} {% endcomment %}
  </ul>
</li>