{% if perms.dev_edit == 1 or perms.dev_read == 1 %}

  <li class="parent">
    <a href="">Maintain Development</a>
    <ul class="child">
      <li>
        <a href="/dev/path_permissions/">Manage Path Permissions</a>
      </li>
    </ul>
  </li>
{% endif %}