{% if perms.doc_view == 1 or perms.doc_add == 1 or perms.doc_edit == 1 or perms.doc_admin == 1 or perms.doc_query %}
  <li class="parent navli">

    <a href="#">Maintain Docket</a>
    <ul class="child">
      {% if perms.doc_view == 1 or perms.doc_admin == 1 %}
        <li class="navli">
          <a href="/doc/view">View All Records</a>
        </li>
      {% endif %}
      {% if perms.doc_edit == 1 or perms.doc_admin == 1 %}
        <li class="navli">
          <a href="/doc/create">Create a Docket</a>
        </li>
      {% endif %}
      {% if perms.doc_admin == 1 %}
        <li class="navli">
          <a href="/doc/admin">Administrate Docket</a>
        </li>
      {% endif %}
      {% if perms.doc_query == 1 or perms.doc_admin %}
        <li class="navli">
          <a href="/doc/query">Query Docket</a>
        </li>
      {% endif %}
      {% assign doc_dash_len = docket_dashboards | size %}
      {% if doc_dash_len > 0 %}
        <li class="parent navli">
          <a href="#">Dashboards<span class="expand">&raquo;</span>
          </a>
          <ul class="child" class="navli">
            {% for dash in docket_dashboards %}
              <li class="navli">
                <a href="/doc/dash?dash={{dash.seq}}">{{ dash.dash_name }}</a>
              </li>
            {% endfor %}


          </ul>
        </li>
      {% endif %}
    </ul>
  </li>
{% endif %}