{% if perms.fin_view == 1 or perms.fin_add == 1 or perms.fin_edit == 1 or perms.fin_admin == 1 or perms.fin_query %}
  <li  class="navli parent">

    <a href="#">Maintain Treasury</a>
    <ul class="child">
      {% if perms.fin_admin == 1 or perms.fin_view == 1 %}
        <li  class="navli" class="parent">
          <a href="/finances/">View All Records</a>
        </li>
      {% endif %}
      {% if perms.fin_admin == 1 or perms.fin_add == 1 %}
        <li  class="navli" class="parent">
          <a href="/finances/create/">New Record</a>
        </li>
      {% endif %}
      {% if perms.fin_admin == 1 %}
        <li  class="navli" class="parent">
          <a href="URL">Administrate Finances</a>
        </li>
        {% comment %}<li  class="navli" class="parent">{% endcomment %}
          {% comment %}<a href="/finance/items/new">Create Item</a>{% endcomment %}
        {% comment %}</li>{% endcomment %}
          <li  class="navli" class="parent">
          <a href="#">Manage Items<span class="expand">&raquo;</span>
          </a>
          <ul class="child">
              <li  class="navli">
                <a href="/finance/items/new">Create or Update an Item</a>
              </li>
              <li  class="navli">
                <a href="/finance/vendors/">Create or Update a Vendor</a>
              </li>
          </ul>
        </li>
      {% endif %}

      {% if perms.fin_admin == 1 or perms.fin_query == 1 %}
        <li  class="navli" class="parent">
          <a href="URL">Query Finances</a>
        </li>
      {% endif %}

      {% assign fin_dash_len = finance_dashboards | size %}
      {% if fin_dash_len > 0 %}
        <li  class="navli" class="parent">
          <a href="#">Dashboards<span class="expand">&raquo;</span>
          </a>
          <ul class="child">
            {% for dash in finance_dashboards %}
              <li  class="navli">
                <a href="/finance/dashboards/{{dash.seq}}">{{ dash.name }}</a>
              </li>
            {% endfor %}
          </ul>
        </li>
      {% endif %}
    </ul>
  </li>
{% endif %}