<li class="navli parent">
  <a href="#">Quick Links</a>
  <ul class="child">
    {% for link in quick_links %}
      <li class="navli" class="parent">
        <a href="{{link.link}}" target="_blank">{{ link.name }}</a>
      </li>
    {% endfor %}
  </ul>
</li>