{% if perms.user_view == 1 or perms.user_add == 1 or perms.user_edit == 1 or perms.user_admin == 1 or perms.user_query == 1 or perms.user_delete == 1 %}
  <li class="parent">
    <a href="">Maintain Users</a>
    <ul class="child">
      <li>
        <a href="/admin/users">View User</a>
      </li>
      <li>
        <a href="/admin/users/create">Create User</a>
      </li>
      <li>
        <a href="/dev/">Administrate User</a>
      </li>
      <li>
        <a href="/dev/">Query User</a>
      </li>
      <li>
        <a href="/admin/permissions/">Manage Permissions</a>
      </li>
      <li>
        <a href="/admin/class_assignments">Manage Class Assignments</a>
      </li>
    </ul>
  </li>

{% endif %}