<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Preferences</title>
  </head>
  <body>
    {% include 'navbar.liquid' %}
    <article>
      <h1>User Preferences</h1>

      <div class="grid2x2">
        <div class="box">
          <h2>General Info</h2>
          <form action="/user/preferences/general" method="POST">
            <label for="fName">Name</label>
            <input
              type="text"
              name="fName"
              id="fName"
              placeholder="First"
              value="{{user.first_name}}"><input
              type="text"
              name="lName"
              id="lName"
              placeholder="Last"
              value="{{user.last_name}}">
            <br>
            <label for="title">Title</label><select name="title" id="title">
                <option value=""></option>
            </select>
          </form>
          <form action="/user/preferences/theme" method="post">
            <label for="theme">Theme</label>
            <input
              type="text"
              name="theme"
              id="theme"></form>
        </div>
        <div class="box">
          <h2>Directory Information</h2>
        </div>
        <div class="box">
          <h2>General Info</h2>
        </div>
        <div class="box">
          <h2>Permission Info [Read Only]</h2>
        </div>
      </div>
    </article>
    {% include 'footer.liquid' %}
  </body>
</html>