<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {% for cfg in config %}
        {% if cfg.config_type == "app_name" %}
          {{ cfg.config_value }}
        {% endif %}
      {% endfor %}
    </title>
  </head>
  <body>
    {% render "navbar.liquid" %}

  </body>
</html>