<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/46bfd90bcf.js" crossorigin="anonymous"></script>
    {% if user.theme != nil %}
      <link rel="stylesheet" href="/static/theme/{{user.theme}}.css" id="themeLink">
    {% else %}
      <link rel="stylesheet" href="/static/theme/f0036e77-5756-11ef-af4a-e2d356e52ad1.css" id="themeLink">
    {% endif %}
    <link rel="stylesheet" href="/static/theme/structure.css">
    <script>
      let currentDialog = undefined

      function addFavorite() {
        let pathDescription = prompt('Enter a description for this favorite.')
        if(pathDescription === ''){
          pathDescription = document.title
        }
        let requestObject = {
          "path": window.location.pathname,
          "text": pathDescription
        }
        let xhr = new XMLHttpRequest();
        xhr.open('POST', '/favorites/add')
        xhr.setRequestHeader('Content-Type', 'application/json')
        xhr.send(JSON.stringify(requestObject))
        xhr.onreadystatechange = () => {
          if(xhr.readyState == 4){
            if(xhr.status == 200){
              window.reload()
            } else{
              // Something went wrong!
              alert('An error occurred while trying to process this request.')
            }
          }
        }
      }
    </script>
  </head>
  <body>
    <div class="nav_div">
      <ul id="nav_ul" class="flex">
        {% for nav_page in nav_pages %}
          {% assign p_name = "nav_elem/" | append: nav_page %}
          {% include p_name %}
        {% endfor %}
        <li class="parent wide"></li>
        {% include 'nav_elem/account.liquid' %}

      </ul>
    </div>
  </body>
</html>