<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Finances</title>
  </head>
  <body>
    {% include "navbar.liquid" %}
    <article>
      <div class="grid">
        <div class="box">
          <table>
            <tr>
              <th style="text-align: center;">ID</th>
              <th style="text-align: center;">Creator</th>
              <th style="text-align: center;">Approver</th>
              <th style="text-align: center;">Status</th>
              <th style="text-align: center;">Type</th>
              <th style="text-align: center;">Balance</th>
              <th style="text-align: center;">Actions</th>
            </tr>
            {% for row in records %}

            {% endfor %}
          </table>
        </div>
      </div>
    </article>
    {% include "footer.liquid" %}
  </body>
</html>