<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    {% if resp != nil %}
      <script>
        alert("{{ resp }}")
      </script>
    {% endif %}
  </head>
  <body>
    {% include "navbar.liquid" %}

    <article style="display:unset">
      <header style="width: 100%">
        <h2>Forgot Password</h2>
      </header>
      <form method="POST" action="/forgot_password/{{ token }}">
        <label for="password">New Password</label>
        <input type="password" id="password" name="password">
        <br>
        <label for="c_password">Confirm Password</label>
        <input type="password" id="c_password" name="c_password">
        <br>
        <input type="submit" value="Reset Password">
      </form>
    </article>
    {% include "footer.liquid" %}
  </body>
</html>