<!DOCTYPE html>
<html lang="en">
    <head>
        {% if resp != nil %}
          <script>
                alert("{{ resp }}")
          </script>
        {% endif %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Forgot Password</title>
        <!--head is where we store information about the document, such as "human-readable" name for the file.-->
    </head>
    <body>
        <!--body is where we store the visible content-->
        <article>
           <header>

                <h2>Forgot Password</h2>
           </header>
           <form method="POST" action="/forgot_password/{{ token }}">
                <label for="password">New Password</label>
                <input type=password id="password" name="password">
                <br>
                <label for="c_password">Confirm Password</label>
                <input type=password id="c_password" name="c_password">
                <br>
                <input type="submit" value="Reset Password">
           </form>
        </article>
        {% include "navbar.liquid" %}
    </body>
</html>