<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
  </head>
  <body>
    {% render "navbar.liquid" %}
    <fieldset style="width: 50%">
      <legend>Register!</legend>
      <form action="/auth/create" method="POST">
        <table class="noBorder">
          <tr>
            <td>
              <label for="fName">First Name</label>
            </td>

            <td><input
                type="text"
                name="fName"
                id="fName"></td>
          </tr>
          <tr>
            <td>
              <label for="lName">Last Name</label>
            </td>
            <td><input
                type="text"
                name="lName"
                id="lName"></td>
          </tr>
          <tr>
            <td>
              <label for="emailID">Email</label>
            </td>
            <td><input
                type="email"
                name="emailID"
                id="emailID"
                placeholder="example@example.com"></td>
          </tr>
          <tr>
            <td>
              <label for="pass">Password</label>
            </td>
            <td><input
                type="password"
                name="pass"
                id="pass"></td>
          </tr>
          <tr>
            <td>
              <label for="Cpass">Confirm Password</label>
            </td>
            <td><input
                type="password"
                name="pass"
                id="Cpass"></td>
          </tr>
        </table>
        <input type="submit" value="Register">
      </form>
    </fieldset>
  </body>
</html>