/* Forced Dark Theme */
:root {
    --primary-color: #212121; /* Dark grey/black */
    --accent-color: #89191f; /* Vibrant red */
    --accent-hover-color: #9C2A30; /* Lighter/intense version of the accent color */
    --text-color: #FFFFFF;
    --modal-color: darkgray;
}

input:disabled{
    color: black
}
