:root {
        --primary-color: #212121; /* Dark grey/black */
        --accent-color: #89191f; /* Vibrant red */
        --accent-hover-color: #9C2A30; /* Lighter/intense version of the accent color */
        --text-color: #FFFFFF;
        --nav-text-color: #FFFFFF;
        --modal-color: darkgray;

}
input, input:disabled{
    color: black
}
pre{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}