/* Forced Dark Theme */
:root {
    --primary-color: #212121; /* Dark grey/black */
    --accent-color: #FF4B5C; /* Vibrant red */
    --accent-hover-color: #FF6B7A; /* Lighter/intense version of the accent color */
    --text-color: #FFFFFF
}
