:root{
    --primary-color: blue;
    --accent-color: yellow;
    --accent-hover-color: gold;
    --text-color: yellow;
    --nav-text-color: blue;
    --modal-color: yellow;
}
@font-face {
    font-family: BlockFont;
    src: url('/static/ttf/blockFont.ttf')
}

*{
    font-family: BlockFont;
}