.parent {
    display: block;
    position: relative;
    float: left;
    line-height: 4dvh;
    background-color: var(--accent-color);
}
.parent a {
    margin: 10px;
    color: var(--primary-color);
    text-decoration: none;
}
.parent:hover > ul {
    display: block;
    position: absolute;
}
.child {
    display: none;
}
.child .navli {
    background-color: var(--accent-color);
    line-height: 30px;
    border-bottom: #CCC 1px solid;
    border-right: #CCC 1px solid;
    width: 100%;
}
.child .navli a {
    color: var(--primary-color);
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    min-width: 15em;
}
ul ul ul {
    left: 100%;
    top: 0;
    margin-left: 1px;
}
.navli:hover {
    background-color: var(--accent-hover-color);
}
.parent:hover {
    background-color: var(--accent-hover-color);
}
.parent .navli:hover {
    background-color: var(--accent-hover-color);
}

.nav_div {
    width: 100%;
    height: auto;
    background-color: var(--accent-color);
    display: inline-block;
}
.right {
    float: right;
}
.right:hover > ul {
    position: absolute;
    right:0px;
}
.foot_wrap{
    position: fixed;
    left: 0;
    bottom: 0;
    width:100%;
}
footer{
    outline:1px solid black;
    width: 100%;
    height: 5%;
    background-color: var(--accent-color);
    color: var(--primary-color);
    text-align: center;
    margin: auto;
    padding: 10px;
}

html, body{
    height: 100%;
    background-color: var(--primary-color);
}

article > .grid {
    width: 100%;
}

article{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    min-height: 91%;
    margin-bottom: calc(8dvh + 25px);
}
h1,h2, h3, h4, h5, h6{
    margin: 5px;
}

h1,h2,h3,h4,h5,h6,p,pre,td,th,label {
    color: var(--text-color)
}


header > h2, header > h3 {
    margin: 8px;
}

.grid2x2 {
    width: 100%;
    min-height: 80dvh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.revrow{
    flex-direction: row-reverse;
}

.grid{
    min-height: 91%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}


.grid > .box, .grid > .single_box {
    display: flex; 
    flex-basis: calc(100% - 10px);  
    /* justify-content: center; */
    flex-direction: column;
}

.grid2x2 > .box, .grid2x2 > form {
    display: flex; 
    flex-basis: calc(50% - 10px);  
    /* justify-content: center; */
    flex-direction: column;
}
.grid2x2 > div > div {
    display: flex;
    /* justify-content: center; */
    flex-direction: row;
}

.box { margin: 5px; }

.padleft30{
    padding-left: 30px;
}
  
header{
    padding: 2px;
}

.box > table{
    margin: 5px;
}


th{
    padding: 1px;
}

th,tr,td,table{
    border-collapse: collapse;
    border:1px solid var(--text-color)
}


.centText{
    text-align: center;
}

tr > td {
    padding-left: 4px;
}

.actions{
    text-align: center;
    padding:unset;
}

.noHorrizStretch{
    align-content: flex-start;
}

.noVertStretch{
    align-items: flex-start;
}
  

.backAccent{
    background-color: var(--accent-color);
}


.border{
    border:1px solid var(--primary-color);
}
/* * {
    outline: 1px solid var(--text-color);
} */

.spacer{
    margin-top: 50px;
}


body{
    overflow-x: hidden;
}

.nav_wrap{
    height: 5dvh
}

/*Welcome to the idiot show... Staring me, the idiot!*/

