{% if perms.doc_view == 1 or perms.doc_add == 1 or perms.doc_edit == 1 or perms.doc_admin == 1 or perms.doc_del == 1 %}

  <div class="box box2">
    <h1 style="margin-bottom: 48px;">Docket</h1>

    <h2>Total Records: {{ doc_count }}</h2>
    <table>
      <tr>
        <th>Status</th>
        <th>Count</th>
      </tr>
      {% for row in doc_sum %}
        <tr>
          <td>{{ row[0] }}</td>
          <td>{{ row[1] }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% endif %}