<div id="dialog-form-item-cost" title="New Item Cost">
  <p class="validateTips">All form fields are required.</p>

  <form>
    <fieldset>
      <label for="new-price-item-id">Item Sequence</label>
      <input type="text" name="new-price-item-id" id="new-price-item-id" disabled class="text ui-widget-content ui-corner-all">

      <label for="new-price-item-price">Price</label>
      <input type="number" name="new-price-item-price" id="new-price-item-price" value="" class="text ui-widget-content ui-corner-all">
      <label for="new-price-item-date">Eff. Date</label>
      <input type="date" name="new-price-item-date" id="new-price-item-date" value="" class="text ui-widget-content ui-corner-all">
<br>
      <label for="new-price-item-status">Status</label>
      <select id="new-price-item-status" name="new-price-item-status">
        <option value="A">Active</option>
        <option value="I">Inactive</option>
      </select>
      <!-- Allow form submission with keyboard without duplicating the dialog button -->
      <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
    </fieldset>
  </form>
</div>

<script>
  $( function() {
    var dialog, form, itemID,

      // From https://html.spec.whatwg.org/multipage/input.html#e-mail-state-%28type=email%29
      price = $( "#new-price-item-price" ),
      date = $( "#new-price-item-date" ),
      allFields = $( [] ).add( price ).add( date )


    function addUser() {
      var valid = true;
      allFields.removeClass( "ui-state-error" );

      if ( valid ) {
        let xhr = new XMLHttpRequest()
        xhr.open('POST', '/finance/item/price/new/')
        xhr.setRequestHeader('Content-Type', 'application/json')
        xhr.send(JSON.stringify(
                {
                  "price": document.getElementById('new-price-item-price').value,
                  "date": document.getElementById('new-price-item-date').value,
                  "status": document.getElementById('new-price-item-status').value,
                  "seq": itemID
                }
        ))
        xhr.onreadystatechange = () => {
          if (xhr.readyState == 4){
            if (xhr.status == 200){
              alert('Price Record Created')
              dialog.dialog( "close" );

              location.reload()
            } else{
              alert(xhr.responseText)
              allFields.addClass( "ui-state-error" );

            }
          }
        }
      }
      return valid;
    }

    dialog = $( "#dialog-form-item-cost" ).dialog({
      autoOpen: false,
      height: 400,
      width: 350,
      modal: true,
      buttons: {
        "Create New Price": addUser,
        Cancel: function() {
          dialog.dialog( "close" );
        }
      }
    });

    form = dialog.find( "form" ).on( "submit", function( event ) {
      event.preventDefault();
      addUser();
    });

    $( ".editPrice" ).button().on( "click", function() {
      itemID = this.value
      document.getElementById('new-price-item-id').value = itemID
      dialog.dialog( "open" );
    });
  } );
  </script>