<div id="dialog-form-item-new" title="This action requires authentication.">
  <p class="validateTips">All form fields are required.</p>

  <form>
    <fieldset>
      <label for="itemID">Item Sequence</label>
      <input type="text" name="itemID" id="itemID" disabled class="text ui-widget-content ui-corner-all">

      <label for="uname">Username</label>
      <input type="text" name="uname" id="uname" value="" class="text ui-widget-content ui-corner-all">
      <label for="password">Password</label>
      <input type="password" name="password" id="password" value="" class="text ui-widget-content ui-corner-all">

      <!-- Allow form submission with keyboard without duplicating the dialog button -->
      <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
    </fieldset>
  </form>
</div>
<script>
  $( function() {
    var dialog, form, itemID,

      // From https://html.spec.whatwg.org/multipage/input.html#e-mail-state-%28type=email%29
      uname = $( "#uname" ),
      password = $( "#password" ),
      allFields = $( [] ).add( uname ).add( password )


    function addUser() {
      var valid = true;
      allFields.removeClass( "ui-state-error" );

      if ( valid ) {
        let xhr = new XMLHttpRequest()
        xhr.open('DELETE', '/finances/delete/')
        xhr.setRequestHeader('Content-Type', 'application/json')
        xhr.send(JSON.stringify(
                {
                  "username": document.getElementById('uname').value,
                  "password": document.getElementById('password').value,
                  "seq": itemID
                }
        ))
        xhr.onreadystatechange = () => {
          if (xhr.readyState == 4){
            if (xhr.status == 200){
              alert('Record deleted successfully')
              dialog.dialog( "close" );

              location.reload()
            } else{
              alert(xhr.responseText)
              allFields.addClass( "ui-state-error" );

            }
          }
        }
      }
      return valid;
    }

    dialog = $( "#dialog-form-item-new" ).dialog({
      autoOpen: false,
      height: 400,
      width: 350,
      modal: true,
      buttons: {
        "Delete Finance": addUser,
        Cancel: function() {
          dialog.dialog( "close" );
        }
      }
    });

    form = dialog.find( "form" ).on( "submit", function( event ) {
      event.preventDefault();
      addUser();
    });

    $( ".newItem" ).button().on( "click", function() {
      itemID = this.value
      document.getElementById('itemID').value = itemID
      dialog.dialog( "open" );
    });
  } );
  </script>